<configuration>
	<appender name="fichier"
		class="ch.qos.logback.core.FileAppender">
		<file>C:\Users\kmaroe2020\eclipse-workspace\ProjetEnchere\ProjetEncheres\src\logback-test.log</file>
		<encoder>
			<pattern>%date %msg%n 
			</pattern>
		</encoder>
	</appender>
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="fr.eni.projet">
		<appender-ref ref="fichier" />
	</logger>
	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
</configuration>