


body{
/* 	background-color: #f8f9fa; */
	background-color: #dee2e6;
	overflow-x: hidden;
}

main {
	min-height : 65vh;
}

.container-corps {
	
	background-color: #ffffff;
	border-radius: 15px;
}
/* .container{
	min-height: 10vh;
}
 */
.white-text {
	color : #ffffff;
}

footer {
 	background-color: #343A40;
	bottom:0;
	left: 0;
	right: 0;
}

.footer-text {
	color : #ffffff;
}

h1{
	color : #ced4da;
	text-color : #aed9e0 ;
}

h2{
	color : #343A40;
	text-align: center;
}

h5{
	color : #aed9e0;
	
}

.navbar {
	margin: 0px -20px 0px -20px;
	padding: 10px 0px 10px 50px;
 	background-color: #343A40;
}

.erreur-messages{
	width: 100%;
	padding: 0.5em 0.8em 0.5em 0.8em;
	margin: 0.25em 0 0.25em 0;
	margin-left: auto; margin-right: auto;
	background-color: rgb(255, 159, 159);
	color: rgb(94, 0, 0);
	border-radius: 5px;
	border: 2px solid rgb(94, 0, 0);
	font-size: 0.9em;
	text-align: center;
}

.vertical-center{
	padding-top: 50%; transform: translateY(-50%);
}

/* PAGE PROFIL */
.profil label {
	font-weight: bold;
}

.mise-en-avant{
	background-color: #e9ecef;
	text-color :#aed9e0;
	text-align: center;
	font-weight: bold;
	line-height: 150%;
	border-radius: 15px;
	border: solid;
	border-width: 1px 1px;
	padding: 5px 0px 0px 0px;
}

.nousquitter{
	text-align: center;
}

.img{
	/* width:500px;
	height:400px; */
	max-width: 100%;
 	height: auto;
	border-radius: 5%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

@media (max-width: 570px) { 
	body{	
		background-color: #FFF;
	}
}